
.st-key-btn-save-config button,
.st-key-btn-test-config button,
.st-key-btn-cancel-config button,
.st-key-btn-remove-config button,
.st-key-btn-plot-config button,
.st-key-btn-customize-config button {
  font-weight: 600;
  padding: 0px 20px;
  border-radius: 999px;
  cursor: pointer;
  border: 1px solid transparent;

}


.st-key-btn-save-config button {
  background-color: #2e7d32;
  border-color: #2e7d32;
  color: #ffffff;
}

.st-key-btn-save-config button:hover {
  background-color: #256628;
  border-color: #256628;
}

.st-key-btn-test-config button {
  background-color: #1976d2;
  border-color: #1976d2;
  color: #ffffff;
}

.st-key-btn-test-config button:hover {
  background-color: #155fa8;
  border-color: #155fa8;
}

.st-key-btn-cancel-config button {
  background-color: #6b7280;
  border-color: #6b7280;
  color: #ffffff;
}

.st-key-btn-cancel-config button:hover {
  background-color: #5a616f;
  border-color: #5a616f;
}

.st-key-btn-remove-config button {
  background-color: #cb0000;
  border-color: #cb0000;
  color: #ffffff;
}

.st-key-btn-remove-config button:hover {
  background-color: #e65e5e;
  border-color: #e65e5e;
}

.st-key-btn-plot-config button,
.st-key-btn-customize-config button {
  background-color: #ff4d00;
  border-color: #ff4d00;
  color: #ffffff;
}

.st-key-btn-plot-config button:hover,
.st-key-btn-customize-config button:hover {
  background-color: #ff4d0078;
  border-color: #ff4d0078;
}
